.date-bar{
   padding: 0 0 12px 6px;
   /*text-align: left;*/
}
.pref-date-bar{
    padding-right: 20px;
    font-size: 1.6rem;
}
.pref-date-bar-input{
    /*padding: 5px 20px 12px 5px;*/
    font-size: 1.2rem;
}
.input-cw{
    width: 40px;
}
.input-year{
    width: 60px;
}