/*.nav{
    text-decoration: none;
    color: red;
    padding: 5px;
}*/
header{
    width: 100%;
    height: 48px;
    background-color: #968373;
}
.logo{
    width: 128px;
    height: 48px;
    background-image: url('../../assets/images/logoMenuApp_128x48.png');
}